<table class="productsTable">
    <thead>
        <tr>
            <th>Título</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        {{#if products}}
        {{#each products}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td>
                <img src="{{this.thumbnail}}">
            </td>
        </tr>
        {{/each}}
        {{else}}
        <p>No items to show</p>

        {{/if}}
    </tbody>
</table>
<button id="navLinkButton">
    <a href="/">
        Back to main
    </a>
</button>