* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Cousine', monospace;
}

a:visited{
    color: black;
}

.formContainer {
    display: grid;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, #f05f57 10%, #360940 100%);
}

#productsTemplate{
    display: grid;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#productsForm{
    display: grid;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    text-transform: uppercase;
    color: white;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(27, 22, 22, 0.18);
    justify-content: center;
    align-items: center;
}

#productsForm input{
    margin: 1rem 0 1rem 0;
    height: 1.25rem;
}

#productsForm button{
    height: 5vh;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid rgba(27, 22, 22, 0.18);
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: .5s;
}

#productsForm button:hover{
    background-color: white;
    color: black;
    transition: .5s;
}

#productsForm h1{
    margin-bottom: 1rem;
    text-align: center;
}

.viewProductsContainer{
    display: grid;
    height: 10vh;
    width: 100%;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    transition: .5s;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(27, 22, 22, 0.18);
}
.viewProductsContainer:hover{
    background-color: white;
    color: black;
    transition: .5s;
}
#toggleProducts:hover{
    color: black;
    transition: .5s;
    
}

#toggleProducts{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: .5s;
}

.productsTable {
    display: grid;
    width: fit-content;
    grid-gap: 1rem;
    margin: 5vh 2.5vh 5vh 2.5vh;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    color: white;
    font-weight: 400;
}

.productsTable img{
    width: 100%;
    height: 100%;
}

.productsTable tr{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.productsTable tbody tr{
    border: 1px solid white;
}

.productsTable td{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}


#navLinkButton{
    position: absolute;
    top: 5vh;
    right: 10vh;
    width: 20vh;
    height: 10vh;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: white;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid rgba(27, 22, 22, 0.18);
}

#navLinkButton:hover{
    background-color: white;
    color: black;
    transition: .5s;
}

#downloadLog{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 5vh;
    height: 5vh;
    cursor: pointer;
    background-color: transparent;
}

.chatBox {
    display: grid;
    min-height: 75vh;
    opacity: 0.7;
    transition: .5s;
    margin: 5vh 2.5vh 5vh 2.5vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: .5rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.chatBox:hover{
    opacity: 1;
    transition: .5s;
    border-radius: 1rem;
}

.chatBox h1{
    color: white;
    font-weight: bold;
}

.chatBox__messages{
    display: grid;
    background-color: white;
    min-height: 30vh;
    max-height: 40vh;
    color: black;
    text-align: start;
    overflow-y: scroll;
    overflow-x: scroll;
}

.chatBox__inputContainer{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#chatBoxButton, #logInButton{
    height: 2rem;
    margin-right: 0.1rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.12);
    color: #757575;
    transition: 1s;
    cursor: pointer;
}

#chatBoxInput{
    width: 80%;
    height: 2rem;
    margin-right: 0.1rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.12);
    color: #757575;
    transition: 1s;
}
#chatBoxInput:focus{
    background-color: white;
}

#chatBoxButton{
    width: 20%;
}


 #chatBoxButton:hover, #logInButton:hover{
    background-color: white;
    color: black;
    outline: none;
    transition: 1s;
}

.messageLine{
    display: flex;
}

.messageLine__user{
    font-weight: bold;
    color:dodgerblue;
}

.messageLine__timeSent{
    font-weight: bold;
    color: maroon;
}

.messageLine__message{
    font-style: italic;
    color: olivedrab;
}