* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Cousine', monospace;
}

a:visited{
    color: black;
}

.formContainer {
    display: grid;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, #f05f57 10%, #360940 100%);
}

#form{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: fit-content;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    text-transform: uppercase;
    color: white;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(27, 22, 22, 0.18);
    justify-content: center;
    align-items: center;
}

#form input{
    margin: 1rem 0 1rem 0;
    height: 1.25rem;
}

#form button{
    height: 5vh;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid rgba(27, 22, 22, 0.18);
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: .5s;
}

#form button:hover{
    background-color: white;
    color: black;
    transition: .5s;
}

#form h1{
    margin-bottom: 1rem;
    text-align: center;
}

.viewProductsContainer{
    display: grid;
    height: 10vh;
    width: 100%;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    transition: .5s;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(27, 22, 22, 0.18);
}
.viewProductsContainer:hover{
    background-color: white;
    color: black;
    transition: .5s;
}
#toggleProducts:hover{
    color: black;
    transition: .5s;
    
}

#toggleProducts{
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: .5s;
}

.productsTable {
    display: grid;
    width: 40vw;
    grid-gap: 1rem;
    margin: 5vh 0 5vh 0;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    color: white;
    font-weight: 400;
}

.productsTable img{
    width: 100%;
    height: 100%;
}

.productsTable tr{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.productsTable tbody tr{
    border: 1px solid white;
}

.productsTable td{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}


#navLinkButton{
    position: absolute;
    top: 5vh;
    right: 10vh;
    width: 20vh;
    height: 10vh;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: white;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid rgba(27, 22, 22, 0.18);
}

#navLinkButton:hover{
    background-color: white;
    color: black;
    transition: .5s;
}