{{#each messages}}
<div class="messageLine">
<p class="messageLine__user">{{this.user}}- </p>
<p class="messageLine__timeSent">[{{this.timesent}}]</p>
<p class="messageLine__message">: {{this.message}}</p>
</div>
{{/each}}