doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='../../../styles.css' rel='stylesheet')
    title Web Server con Pug
  body
    .formContainer
      table.productsTable 
        thead 
          tr
            th Titulo
            th Precio
            th Imágen
        tbody
          if products
            each product in products
                tr
                    td=product.title
                    td=product.price
                    td  
                      img(src=product.thumbnail)
          else
            p No items to show
      button#navLinkButton
        a(href='/')
          | Back to form

    
